.impactBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background-color: #edf5e6;
    color: #6A7D46;
  
    padding: 6px 16px;
    border-radius: 9999px;
  
    font-size: 16px;
    font-weight: 500;
  }