.impactDetailBox {
    background-color: #FCFDFFFF;

    width: 240px;
    min-height: 140px;
  
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  
    text-align: center;
}

.statTitle {
    font-size: 36px;
    font-weight: 600;
    color: #1E485F;
  }
  
.statLabel {
    font-size: 16px;
    color: #4A5E7A;
    margin-top: 0.5px;
    line-height: 24px;
  }