.impactSection {
    display: flex;
    justify-content: center;
    padding: 60px 16px;
}

.impactCard {
    background-color: white;
    max-width: 987px;
    width: 100%;
    

    padding: 40px 24px;
    border-radius: 16px;
  
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.impactTitle {
    font-size: 24px;
    margin: 0;
    color: #1E455E;
}

.impactDescription {
    max-width: 672px;
    height: 100%;
    color: #4A5E7A;

    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}