.impactDetailBox {
  width: 260px;
  height: 144px;

  background-color: #FCFDFF;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
}

.statTitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;          
  color: #1E485F;
}

.statLabel {
  font-size: 16px;
  line-height: 24px;
  color: #4A5E7A;
  max-width: 200px;
} 