.volunteerContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding: calc(1.5rem + 2vw) 20px 15px 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.volunteerContainer h1 {
	color: #033C26;
	font-size: calc(5px + 1.75vw);
	font-weight: bold;

	padding-left: 75px;
	padding-right: 75px;

	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.volunteerContainer h2 {
	color: #033C26;
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	padding-bottom: 10px;
	padding-left: 75px;
	padding-right: 75px;
}

.volunteerContainer p {
	padding-bottom: 0.5px;
	padding-left: 75px;
	padding-right: 75px;
	font-size: calc(1px + 1.2vw);
}

.volunteerCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vw;

	padding-left: 75px;
	padding-right: 75px;
}

.volunteerFormContainer {
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.volunteerTitleContainer h1 {
	font-size: calc(10px + 1.5vw);
}

.volunteerTitleContainer h2 {
	font-size: calc(10px + 1.5vw);
	padding-top: 2vw;
}



.volunteerDescriptionContainer p {
	font-size: calc(1px + 1.2vw);
}

.volunteerFormTitleContainer {
	font-size: calc(1px + 1.75vw);
	padding-top: 2vw;
}

.only-mobile {
	display: none;
}

.only-desktop {
	display: flex;
}

@media (max-width: 750px) {
	.only-mobile {
		display: flex;
	}

	.only-desktop {
		display: none;
	}

	.volunteerContainer {
		background-image: none;
		background-color: white;
		padding: 30px 20px;
	}

	.volunteerGetInvolved h1 {
		font-weight: 700;
		font-size: calc(.7rem + 2vw);
		color: #033C26;
		margin-bottom: -.1rem;
	}

	.volunteerGetInvolved h1 {
		display: flex;
		font-size: calc(7px + 2.5vw); 
		color: #033C26;
		font-weight: 700;
		padding-bottom: 0vw;
		padding-left: 1.3vw;
		text-align: left;
		width: 96vw;
	}

	.volunteerGetInvolved img {
		height: fit-content;
	}

	.volunteerTitleContainer h1 {
		font-weight: 700;
		font-size: calc(.6rem + 2vw);
		color: #3F798C;
		margin-bottom: 1rem;
	}

	.volunteerDescriptionContainer p {
		width: 100%;
		font-size: calc(1.2rem + 1vw);
		color: black;
		padding-top: 4vw;
	}

  .volunteerTitleContainer p {
		width: 100%;
		font-size: calc(1.2rem + 1vw);
		color: black;
		padding-top: 4vw;
	}

	.thinSeparator {
		padding: none;
		width: 100%;
		height: 1px;
		background-color: #ddd;
	}

	.volunteerContainer p {
		width: 100%;
	}

	.volunteerCardContainerMobile h1 {
		font-weight: bold;
	}

	.volunteerCardContainerMobile {
		display: block;
	}

	.volunteerFormTitleContainer {
		font-size: calc(1rem + 1.5vw);
		padding: 0px, 20px;
	}

	.volunteerFormContainer {
		padding: 0px, 20px;
	}


}