.programBox {
  height: 284px;
  width: 325px;
  padding: 32px;

  box-sizing: border-box;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
  
.programBoxTitle {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #1E3F66;
}

.programBoxDescription {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #4a6582;
}

.programBoxButton {
  margin-top: auto;
  padding: 8px 20px;
  
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-align: center;

  color:  #A1B370;
  background-color: transparent;
  border: 1.5px solid #AAB370;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.programBoxButton:hover {
  background: #7aa35a;
  color: white;
}