.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../../../images/background_white.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 140px !important;
    padding-right: 140px !important;
    padding-top: 4vw;
    padding: calc(1.5rem + 2vw) 20px 15px 20px;
}

.ourStoryTitleContainer h1 {
    font-size: calc(16px + 2.5vw);
    text-align: center;
    margin-bottom: 1vw;
    padding: 0;
    margin-top: 40px;
}

.ourStoryCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 1vw;
    padding: 1.5vw;
    width: 90%;
    margin: 10px 0;
}

.ourStoryCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    text-align: left;
    color: #4A4A4A;
    font-size: calc(1rem + 0.3vw);
}

.team-image {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
}

.ourStoryDesc {
    width: 80vw;
}

.timelineSection {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
    .aboutContainer {
        padding: 20px;
    }

    .ourStoryCardContainer {
        width: 50%;
        padding: 2vw;
        margin: 20px 0;
    }

    .ourStoryCardTextContainer {
        padding: 2vw;
        text-align: center;
    }

    .ourStoryTitleContainer h1 {
        font-size: calc(20px + 2vw);
    }

    .team-image {
        margin: 20px auto;
    }
    
}

/*Mobile responsive our story*/
@media screen and (max-width: 750px) {
    .aboutContainer {
        padding: 30px 40px !important;
        align-items: stretch;
    }

    .ourStoryTitleContainer {
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 0;
    }

    .ourStoryTitleContainer h1 {
        font-size: calc(5px + 8vw);
        margin: 0;
        text-align: left;
    }

    .ourStoryDesc {
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 0;
        font-size: calc(5px + 2vw);
        text-align: left;
    }

    .ourStoryCardContainer {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }

    .ourStoryCardTextContainer {
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 0;
        font-size: calc(5px + 2vw);
        text-align: left;
    }

    .team-image {
        width: 100%;
        margin: 1rem 0;
    }

    /* .ourStoryTitle {
        font-size: calc(5px + 8vw);
    }

    .ourStoryDesc {
        font-size: calc(5px + 2vw);
    } */
    
}