.ourStoryPage {
  background-image: url("../../../images/background_white.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: calc(1rem + 2vw);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.ourStoryContent {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.ourStoryTitleContainer h1 {
  font-size: calc(16px + 2.5vw);
  text-align: center;
  margin-bottom: 1vw;
  margin-top: 40px;
}

.ourStoryDesc {
  width: 100%;
}

@media (max-width: 750px) {
  .ourStoryPage {
    padding: 30px 20px;
  }

  .ourStoryContent {
    width: 100%;
  }

  .ourStoryTitleContainer h1 {
    font-size: calc(5px + 8vw);
    margin: 0;
    text-align: left;
  }

  .ourStoryDesc {
    font-size: calc(5px + 2vw);
    text-align: left;
  }
}