.socialsBarContainer {
	display: flex;
	justify-content: space-evenly;
}

.icon {
	height: 3vw;
	width: 3vw;
	padding: 0.5vw;
	filter: grayscale(1) brightness(2) contrast(1.1);
}

@media screen and (max-width: 768px) {

	.icon {
		width: 9vw;
		/* Adjust this value to your preferred size */
		height: 9vw;
		/* Adjust this value to your preferred size */
	}
}
